<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
  <a class="navbar-brand me-lg-5" [routerLink]="['']"></a>
  <div class="d-flex align-items-center"><button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button></div>
</nav>

 <nav id="sidebarMenu" class="sidebar d-lg-block bg-blue-300 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
       <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">

         <div class="d-flex align-items-center">
           <div class="avatar-lg me-4"></div>
           <div class="d-block">

             <a [routerLink]="['/sign-in']" class="btn btn-secondary btn-sm d-inline-flex align-items-center">

               Sign Out
             </a>
           </div>
         </div>

          <div class="collapse-close d-md-none">
             <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">

             </a>
          </div>
       </div>
       <ul class="nav flex-column pt-3 pt-md-0">
          <li class="nav-item"><a class="nav-link d-flex align-items-center"><span class="sidebar-icon"><img src="../../../assets/img/logo.png" height="20" width="20" alt="Logo"> </span><span class="mt-1 ms-1 sidebar-text"><b>TRAFFIC VIOLATION</b></span></a></li>
          <li class="nav-item active">
             <a routerLink="dashboard" class="nav-link" *ngIf="authService.hasRole('ADMIN')">
                <span class="sidebar-icon">

                </span>
                <span class="sidebar-text">General Informations</span>
             </a>
          </li>

         <li class="nav-item" *ngIf="authService.hasRole('ADMIN')">
           <a routerLink="vehicles" class="nav-link" *ngIf="authService.hasRole('ADMIN')">
                <span class="sidebar-icon">

                </span>
             <span class="sidebar-text">Vehicles</span>
           </a>
         </li>
          <li class="nav-item" *ngIf="authService.hasRole('ADMIN')">
             <a routerLink="radars"  class="nav-link">
                <span class="sidebar-icon">


                </span>
                <span class="sidebar-text">Radars</span>
             </a>
          </li>
         <li class="nav-item">
           <a routerLink="infractions" class="nav-link">
                <span class="sidebar-icon">

                </span>
             <span class="sidebar-text">Infractions</span>
           </a>
         </li>

        </ul>
    </div>
 </nav>
