<div class="alert alert-success alert-dismissible fade show col-md-6 offset-md-3 animate-fade-shine" role="alert">
  <span class="fas fa-bullhorn me-1"></span>
  <h6>Welcome in your home page, you have been successfully connected.</h6>
  <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="flower-container">
  <div class="flower">
    <div class="circle"></div>
    <div class="flr one"></div>
    <div class="flr two"></div>
    <div class="flr three"></div>
    <ul class="list-points">
      <li class="point lg"></li>
      <li class="point md"></li>
      <li class="point sm"></li>
    </ul>
    <div class="point lg first"></div>
    <div class="point lg second"></div>
    <div class="point lg third"></div>
    <div class="point sm first"></div>
    <div class="point sm second"></div>
    <div class="point sm third"></div>
  </div>
</div>


